In [1]:
import os
os.environ["PYSPARK_PYTHON"] = r"C:\Users\DELL\AppData\Local\Programs\Python\Python310\python.exe"
os.environ["PYSPARK_DRIVER_PYTHON"] = r"C:\Users\DELL\AppData\Local\Programs\Python\Python310\python.exe"

In [2]:
# %pip install pyspark

# Khởi tạo Spark Session để đọc file csv

In [3]:
from pyspark.sql import SparkSession, functions as F

# Tạo SparkSession
spark_session = (
    SparkSession
    .builder
    .appName("E-Commerce-Fecom")
    .getOrCreate()
)

if spark_session:
    print("SparkSession created successfully.")
else:
    print("Error: Failed to create SparkSession.")

SparkSession created successfully.

## Câu 1: Hãy đọc dữ liệu từ các file csv, sử dụng tự suy ra kiểu dữ liệu cho mỗi cột.

#### Sử dụng hàm read để đọc các file csv. Bởi vì giữa các cột được ngăn cách bằng dấu ";" cho nên ta dùng thêm option separate để chỉ định kí tự phân tách cột. Sử dụng inferSchema để tự nội suy kiểu dữ liệu.

In [16]:
items_df = (spark_session.read
            .option("header", True)
            .option("inferSchema",True)
            .option("sep", ";")
            .csv("resource/Order_items.csv"))
reviews_df = (spark_session.read
              .option("header", True)
              .option("inferSchema",True)
              .option("sep", ";")
              .csv("resource/Order_Reviews.csv"))
orders_df = (spark_session.read
              .option("header", True)
              .option("inferSchema",True)
              .option("sep", ";")
              .csv("resource/Orders.csv"))
products_df = (spark_session.read
              .option("header", True)
              .option("inferSchema",True)
              .option("sep", ";")
              .csv("resource/Products.csv"))
customers_df = (spark_session.read
              .option("header", True)
              .option("inferSchema",True)
              .option("sep", ";")
              .csv("resource/Customer_List.csv"))

#### Xem schema của từng file.

In [17]:
for name, df in [("orders_df", orders_df), ("customers_df", customers_df), ("items_df", items_df), ("products_df", products_df), ("reviews_df", reviews_df)]:
    print("\n", name)
    df.printSchema()

 orders_df
root
 |-- Order_ID: string (nullable = true)
 |-- Customer_Trx_ID: string (nullable = true)
 |-- Order_Status: string (nullable = true)
 |-- Order_Purchase_Timestamp: timestamp (nullable = true)
 |-- Order_Approved_At: timestamp (nullable = true)
 |-- Order_Delivered_Carrier_Date: timestamp (nullable = true)
 |-- Order_Delivered_Customer_Date: timestamp (nullable = true)
 |-- Order_Estimated_Delivery_Date: timestamp (nullable = true)


 customers_df
root
 |-- Customer_Trx_ID: string (nullable = true)
 |-- Subscriber_ID: string (nullable = true)
 |-- Subscribe_Date: date (nullable = true)
 |-- First_Order_Date: date (nullable = true)
 |-- Customer_Postal_Code: string (nullable = true)
 |-- Customer_City: string (nullable = true)
 |-- Customer_Country: string (nullable = true)
 |-- Customer_Country_Code: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)


 items_df
root
 |-- Order_ID: string (nullable = true)
 |-- Order_Item_ID: integer (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Seller_ID: string (nullable = true)
 |-- Shipping_Limit_Date: timestamp (nullable = true)
 |-- Price: double (nullable = true)
 |-- Freight_Value: double (nullable = true)


 products_df
root
 |-- Product_ID: string (nullable = true)
 |-- Product_Category_Name: string (nullable = true)
 |-- Product_Weight_Gr: integer (nullable = true)
 |-- Product_Length_Cm: integer (nullable = true)
 |-- Product_Height_Cm: integer (nullable = true)
 |-- Product_Width_Cm: integer (nullable = true)


 reviews_df
root
 |-- Review_ID: string (nullable = true)
 |-- Order_ID: string (nullable = true)
 |-- Review_Score: string (nullable = true)
 |-- Review_Comment_Title_En: string (nullable = true)
 |-- Review_Comment_Message_En: string (nullable = true)
 |-- Review_Creation_Date: string (nullable = true)
 |-- Review_Answer_Timestamp: timestamp (nullable = true)

#### Xem dữ liệu 5 dòng đầu  của từng file

In [18]:
for name, df in [("orders_df", orders_df), ("customers_df", customers_df), ("items_df", items_df), ("products_df", products_df), ("reviews_df", reviews_df)]:
    print("\n", name)
    df.show(5)

 orders_df
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|            Order_ID|     Customer_Trx_ID|Order_Status|Order_Purchase_Timestamp|  Order_Approved_At|Order_Delivered_Carrier_Date|Order_Delivered_Customer_Date|Order_Estimated_Delivery_Date|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|e481f51cbdc54678b...|9ef432eb625129730...|   delivered|     2023-10-02 10:56:00|2023-10-02 11:07:00|         2023-10-04 19:55:00|          2023-10-10 21:25:00|          2023-10-18 00:00:00|
|53cdb2fc8bc7dce0b...|b0830fb4747a6c6d2...|   delivered|     2024-07-24 20:41:00|2024-07-26 03:24:00|         2024-07-26 14:31:00|          2024-08-07 15:27:00|          2024-08-13 00:00:00|
|47770eb9100c2d0c4...|41ce2a54c0b03bf34...|   delivered|     2024-08-08 08:38:00|2024-08-08 08:55:00|         2024-08-08 13:50:00|          2024-08-17 18:06:00|          2024-09-04 00:00:00|
|949d5b44dbf5de918...|f88197465ea7920ad...|   delivered|     2023-11-18 19:28:00|2023-11-18 19:45:00|         2023-11-22 13:39:00|          2023-12-02 00:28:00|          2023-12-15 00:00:00|
|ad21c59c0840e6cb8...|8ab97904e6daea886...|   delivered|     2024-02-13 21:18:00|2024-02-13 22:20:00|         2024-02-14 19:46:00|          2024-02-16 18:17:00|          2024-02-26 00:00:00|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
only showing top 5 rows

 customers_df
+--------------------+--------------------+--------------+----------------+--------------------+-------------+----------------+---------------------+---+------+
|     Customer_Trx_ID|       Subscriber_ID|Subscribe_Date|First_Order_Date|Customer_Postal_Code|Customer_City|Customer_Country|Customer_Country_Code|Age|Gender|
+--------------------+--------------------+--------------+----------------+--------------------+-------------+----------------+---------------------+---+------+
|1e959e1f5920cba43...|9765e039028279fd2...|    2023-07-08|      2023-07-09|            FR-75005|        Paris|          France|                   FR| 29|  Male|
|9877437582f263da7...|a75e134e7eb6f96e2...|    2024-03-23|      2024-04-11|           PL-00-001|       Warsaw|          Poland|                   PL| 38|  Male|
|fa6fbbb2080646aca...|2fdac27295500e820...|    2023-05-12|      2023-06-01|             NL-1012|    Amsterdam|     Netherlands|                   NL| 35|Female|
|a4c9ff14ae7620126...|e9ab8fd8ea96c85be...|    2023-04-16|      2023-04-26|            IT-00144|         Rome|           Italy|                   IT| 62|  Male|
|93d5e378ae2f72a07...|6384e6a7b02171761...|    2023-05-26|      2023-06-27|             NL-1011|    Amsterdam|     Netherlands|                   NL| 19|  Male|
+--------------------+--------------------+--------------+----------------+--------------------+-------------+----------------+---------------------+---+------+
only showing top 5 rows

 items_df
+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
|            Order_ID|Order_Item_ID|          Product_ID|           Seller_ID|Shipping_Limit_Date|Price|Freight_Value|
+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
|00010242fe8c5a6d1...|            1|4244733e06e7ecb49...|48436dade18ac8b2b...|2023-09-19 09:45:00| 58.9|        13.29|
|00018f77f2f0320c5...|            1|e5f2d52b802189ee6...|dd7ddc04e1b6c2c61...|2023-05-03 11:05:00|239.9|        19.93|
|000229ec398224ef6...|            1|c777355d18b72b67a...|5b51032eddd242adc...|2024-01-18 14:48:00|199.0|        17.87|
|00024acbcdf0a6daa...|            1|7634da152a4610f15...|9d7a1d34a50524090...|2024-08-15 10:10:00|12.99|        12.79|
|00042b26cf59d7ce6...|            1|ac6c3623068f30de0...|df560393f3a51e745...|2023-02-13 13:57:00|199.9|        18.14|
+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
only showing top 5 rows

 products_df
+--------------------+---------------------+-----------------+-----------------+-----------------+----------------+
|          Product_ID|Product_Category_Name|Product_Weight_Gr|Product_Length_Cm|Product_Height_Cm|Product_Width_Cm|
+--------------------+---------------------+-----------------+-----------------+-----------------+----------------+
|1e9e8ef04dbcff454...|            Perfumery|              225|               16|               10|              14|
|3aa071139cb16b67c...|                  Art|             1000|               30|               18|              20|
|96bd76ec8810374ed...|       Sports_Leisure|              154|               18|                9|              15|
|cef67bcfe19066a93...|                 Baby|              371|               26|                4|              26|
|9dc1a7de274444849...|           Housewares|              625|               20|               17|              13|
+--------------------+---------------------+-----------------+-----------------+-----------------+----------------+
only showing top 5 rows

 reviews_df
+--------------------+--------------------+------------+-----------------------+-------------------------+--------------------+-----------------------+
|           Review_ID|            Order_ID|Review_Score|Review_Comment_Title_En|Review_Comment_Message_En|Review_Creation_Date|Review_Answer_Timestamp|
+--------------------+--------------------+------------+-----------------------+-------------------------+--------------------+-----------------------+
|7bc2406110b926393...|73fc7af87114b3971...|           4|                   NULL|                     NULL|    2024-01-18 00:00|    2024-01-18 21:46:00|
|80e641a11e56f04c1...|a548910a1c6147796...|           5|                   NULL|                     NULL|    2024-03-10 00:00|    2024-03-11 03:05:00|
|228ce5500dc1d8e02...|f9e4b658b201a9f2e...|           5|                   NULL|                     NULL|    2024-02-17 00:00|    2024-02-18 14:36:00|
|e64fb393e7b32834b...|658677c97b385a9be...|           5|                   NULL|     I received it wel...|    2023-04-21 00:00|    2023-04-21 22:02:00|
|f7c4243c7fe1938f1...|8e6bfb81e283fa7e4...|           5|                   NULL|     Congratulations l...|    2024-03-01 00:00|    2024-03-02 10:26:00|
+--------------------+--------------------+------------+-----------------------+-------------------------+--------------------+-----------------------+
only showing top 5 rows

In [19]:
print(items_df.columns)

['Order_ID', 'Order_Item_ID', 'Product_ID', 'Seller_ID', 'Shipping_Limit_Date', 'Price', 'Freight_Value']

## Câu 2: Thống kê tổng số đơn hàng, số lượng khách hàng và người bán

In [20]:
# Dùng select distinct để lấy danh sách cần tính và đếm số lượng
total_orders = orders_df.select("Order_ID").distinct().count()
total_customers = customers_df.select("Customer_Trx_ID").distinct().count()
total_sellers = items_df.select("Seller_ID").distinct().count()
print(f"Total orders: {total_orders}, Total customers: {total_customers}, Total sellers: {total_sellers}")

Total orders: 99441, Total customers: 99442, Total sellers: 3095

## Câu 3: Phân tích số lượng đơn hàng theo quốc gia, sắp xếp theo thứ tự giảm dần

In [21]:
orders_country = (
    # join 2 bảng là orders_df và customers_df với key Customer_Trx_ID
    orders_df
    .join(customers_df.select("Customer_Country", "Customer_Trx_ID"), how="inner", on="Customer_Trx_ID")
    # group theo Customer_Country
    .groupBy("Customer_Country")
    # Đếm số lượng orders
    .agg(F.count_distinct("Order_ID").alias("Total_Orders"))
    # Sắp xếp theo số lượng orders giảm dần
    .orderBy(F.col("Total_Orders").desc())
)
orders_country.show(50, truncate=False)

+----------------+------------+
|Customer_Country|Total_Orders|
+----------------+------------+
|Germany         |41754       |
|France          |12848       |
|Netherlands     |11629       |
|Belgium         |5464        |
|Austria         |5043        |
|Switzerland     |3640        |
|United Kingdom  |3382        |
|Poland          |2139        |
|Czechia         |2034        |
|Italy           |2025        |
|Spain           |1651        |
|Portugal        |1336        |
|Sweden          |975         |
|Denmark         |905         |
|Serbia          |746         |
|Norway          |716         |
|Slovakia        |534         |
|Slovenia        |495         |
|Turkey          |485         |
|Greece          |412         |
|Lithuania       |351         |
|Latvia          |280         |
|Croatia         |254         |
|Estonia         |148         |
|Finland         |81          |
|Luxembourg      |68          |
|Andorra         |46          |
+----------------+------------+

## Câu 4: Phân tích số lượng đơn hàng nhóm theo năm, tháng đặt hàng (Hiển thị theo năm tăng dần, tháng giảm dần)

In [22]:
orders_df.select("Order_ID", "Order_Purchase_Timestamp")
orders_df.show(5, truncate=False)

+--------------------------------+--------------------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|Order_ID                        |Customer_Trx_ID                 |Order_Status|Order_Purchase_Timestamp|Order_Approved_At  |Order_Delivered_Carrier_Date|Order_Delivered_Customer_Date|Order_Estimated_Delivery_Date|
+--------------------------------+--------------------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|e481f51cbdc54678b7cc49136f2d6af7|9ef432eb6251297304e76186b10a928d|delivered   |2023-10-02 10:56:00     |2023-10-02 11:07:00|2023-10-04 19:55:00         |2023-10-10 21:25:00          |2023-10-18 00:00:00          |
|53cdb2fc8bc7dce0b6741e2150273451|b0830fb4747a6c6d20dea0b8c802d7ef|delivered   |2024-07-24 20:41:00     |2024-07-26 03:24:00|2024-07-26 14:31:00         |2024-08-07 15:27:00          |2024-08-13 00:00:00          |
|47770eb9100c2d0c44946d9cf07ec65d|41ce2a54c0b03bf3443c3d931a367089|delivered   |2024-08-08 08:38:00     |2024-08-08 08:55:00|2024-08-08 13:50:00         |2024-08-17 18:06:00          |2024-09-04 00:00:00          |
|949d5b44dbf5de918fe9c16f97b45f8a|f88197465ea7920adcdbec7375364d82|delivered   |2023-11-18 19:28:00     |2023-11-18 19:45:00|2023-11-22 13:39:00         |2023-12-02 00:28:00          |2023-12-15 00:00:00          |
|ad21c59c0840e6cb83a9ceb5573f8159|8ab97904e6daea8866dbdbc4fb7aad2c|delivered   |2024-02-13 21:18:00     |2024-02-13 22:20:00|2024-02-14 19:46:00         |2024-02-16 18:17:00          |2024-02-26 00:00:00          |
+--------------------------------+--------------------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
only showing top 5 rows

In [23]:
#Trích xuất year và month từ timestamp
extract_time = orders_df.select(
    "Order_ID",
    F.year(F.to_timestamp("Order_Purchase_Timestamp")).alias("year"),
    F.month(F.to_timestamp("Order_Purchase_Timestamp")).alias("month"),
)

#gom nhóm theo year và month
orders_time = (extract_time
    .groupBy("year", "month")
    .agg(F.countDistinct("Order_ID").alias("num_orders"))
    .orderBy(F.col("year").asc(), F.col("month").desc())
)
orders_time.show(50, truncate=False)

+----+-----+----------+
|year|month|num_orders|
+----+-----+----------+
|2022|12   |1         |
|2022|10   |324       |
|2022|9    |4         |
|2023|12   |5673      |
|2023|11   |7544      |
|2023|10   |4631      |
|2023|9    |4285      |
|2023|8    |4331      |
|2023|7    |4026      |
|2023|6    |3245      |
|2023|5    |3700      |
|2023|4    |2404      |
|2023|3    |2682      |
|2023|2    |1780      |
|2023|1    |800       |
|2024|10   |4         |
|2024|9    |16        |
|2024|8    |6512      |
|2024|7    |6292      |
|2024|6    |6167      |
|2024|5    |6873      |
|2024|4    |6939      |
|2024|3    |7211      |
|2024|2    |6728      |
|2024|1    |7269      |
+----+-----+----------+

## Câu 5: Thống kê điểm đánh giá trung bình, số lượng đánh giá theo từng mức (ví dụ: 1 đến 5).

In [24]:
from pyspark.sql import functions as F

reviews_processed = (
    reviews_df
    #Xử lí giá trị ngoại lai và null trong cột Review_Score
    .withColumn(
        "Review_Score_int",
        F.when(
            #Chỉ lấy giá trị [1,5]
            F.col("Review_Score").rlike(r"^\s*[1-5]\s*$"),
            #CHuyển string thành int
            F.col("Review_Score").cast("int")
        ).otherwise(F.lit(None).cast("int"))
    )
    .filter(F.col("Review_Score_int").isNotNull())
)

#tính avg
avg_score = reviews_processed.agg(F.avg("Review_Score_int").alias("Avg Review Score"))

count_level = (
    reviews_processed
    .groupBy("Review_Score_int")
    .agg(F.count("*").alias("num_reviews"))
    .orderBy("Review_Score_int")
)

avg_score.show()
count_level.show()

+------------------+
|  Avg Review Score|
+------------------+
|4.0864214950162765|
+------------------+

+----------------+-----------+
|Review_Score_int|num_reviews|
+----------------+-----------+
|               1|      11424|
|               2|       3151|
|               3|       8179|
|               4|      19141|
|               5|      57328|
+----------------+-----------+

## Câu 6: Tính doanh thu (giá sản phẩm + phí vận chuyển) trong năm 2024 và nhóm theo danh mục sản phẩm

In [25]:
from pyspark.sql import functions as F
#lấy ra số orders trong năm 2024
orders_2024 = (
    orders_df
    .withColumn(
        "purchase_ts",
        F.coalesce(
            F.to_timestamp("Order_Purchase_Timestamp", "yyyy-MM-dd HH:mm:ss"),        )
    )
    .filter(F.year("purchase_ts") == 2024)
    .select("Order_ID")
)

In [26]:
#join với orders_2024 để tính doanh thu sản phẩm
items_2024 = (
    items_df
    .join(orders_2024, on="Order_ID", how="inner")
    .withColumn("Price_d", F.col("Price").cast("double"))
    .withColumn("Freight_d", F.col("Freight_Value").cast("double"))
    .withColumn(
        "item_revenue",
        F.coalesce(F.col("Price_d"), F.lit(0.0)) + F.coalesce(F.col("Freight_d"), F.lit(0.0))
    )
)

In [27]:
#join với products_dt để gom nhóm theo category
revenue_by_category_2024 = (
    items_2024
    .join(products_df.select("Product_ID", "Product_Category_Name"), on="Product_ID", how="inner")
    .withColumn("Product_Category_Name", F.coalesce(F.col("Product_Category_Name"), F.lit("UNKNOWN")))
    .groupBy("Product_Category_Name")
    .agg(
        F.sum("item_revenue").alias("revenue_2024"),
        F.countDistinct("Order_ID").alias("num_orders"),
        F.count("*").alias("num_items")
    )
    .orderBy(F.col("revenue_2024").desc())
)

revenue_by_category_2024.show(50, truncate=False)

+---------------------------------------+------------------+----------+---------+
|Product_Category_Name                  |revenue_2024      |num_orders|num_items|
+---------------------------------------+------------------+----------+---------+
|Health_Beauty                          |885191.1199999986 |5402      |5951     |
|Watches_Gifts                          |771986.7500000006 |3493      |3703     |
|Bed_Bath_Table                         |650794.7000000007 |4909      |5884     |
|Sports_Leisure                         |621999.3399999999 |4058      |4527     |
|Computers_Accessories                  |594771.0399999988 |4053      |4708     |
|Housewares                             |491576.96000000037|3421      |4046     |
|Furniture_Decor                        |476466.1300000002 |3199      |4118     |
|Auto                                   |404210.5700000002 |2457      |2619     |
|Baby                                   |299052.5600000002 |1667      |1776     |
|Cool_Stuff                             |273910.0499999997 |1415      |1473     |
|Garden_Tools                           |259068.31999999983|1535      |1879     |
|Telephony                              |217452.12999999977|2159      |2336     |
|Perfumery                              |204562.54000000015|1487      |1636     |
|Toys                                   |200634.07000000018|1409      |1488     |
|Office_Furniture                       |181745.73000000013|648       |883      |
|Stationery                             |164743.8500000001 |1397      |1533     |
|Pet_Shop                               |152804.94000000015|1014      |1159     |
|Construction_Tools_Construction        |141187.34         |643       |795      |
|Electronics                            |134265.44999999984|1727      |1863     |
|Musical_Instruments                    |121476.31000000008|375       |398      |
|Small_Appliances                       |97210.18          |323       |357      |
|Home_Appliances_2                      |96291.6           |146       |149      |
|#N/A                                   |90849.48000000003 |645       |704      |
|Fashion_Bags_Accessories               |85091.28000000001 |830       |880      |
|Luggage_Accessories                    |77374.65000000004 |470       |494      |
|Consoles_Games                         |72967.5           |387       |420      |
|Home_Construction                      |69357.76999999999 |379       |461      |
|Computers                              |67860.80000000002 |58        |74       |
|Home_Appliances                        |66460.23999999999 |524       |528      |
|Small_Appliances_Home_Oven_And_Coffee  |49297.59000000001 |71        |72       |
|Agro_Industry_And_Commerce             |47262.180000000015|134       |151      |
|Construction_Tools_Lights              |43867.840000000004|227       |286      |
|Furniture_Living_Room                  |42774.14          |213       |241      |
|Industry_Commerce_And_Business         |37332.840000000004|197       |229      |
|Audio                                  |36258.83          |187       |195      |
|Construction_Tools_Safety              |35409.3           |130       |151      |
|Kitchen_Dining_Laundry_Garden_Furniture|34951.249999999985|142       |161      |
|Books_General_Interest                 |32252.80000000001 |290       |316      |
|Fixed_Telephony                        |30497.86          |87        |102      |
|Air_Conditioning                       |28889.119999999995|134       |157      |
|Food                                   |25709.749999999996|341       |382      |
|Home_Confort                           |24186.809999999998|148       |156      |
|Signaling_And_Security                 |22413.090000000004|105       |153      |
|Drinks                                 |21834.06000000001 |222       |287      |
|Costruction_Tools_Garden               |20492.69          |130       |160      |
|Art                                    |17947.630000000005|166       |168      |
|Books_Technical                        |16570.430000000008|216       |222      |
|Furniture_Bedroom                      |13992.430000000002|55        |64       |
|Costruction_Tools_Tools                |13448.199999999999|76        |81       |
|Fashion_Shoes                          |10118.419999999998|68        |71       |
+---------------------------------------+------------------+----------+---------+
only showing top 50 rows